.header-container {
    padding: 15px;
    background-color: #6c757d; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease-in-out;
}

.user-name {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    font-size: 1.5rem;
    letter-spacing: 0.5px;
    transition: color 0.3s ease;
}

.logout {
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
    position: relative;
}

.logout:hover {
    color: red; 
    transform: scale(1.1); 
}

.logout::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: red;
    transition: width 0.3s;
    position: absolute;
    left: 0;
    bottom: -5px;
}

.logout:hover::after {
    width: 100%;
}

.header-container:hover {
    background-color: #5a6268; 
}
