<app-header></app-header>
<div class="form-container">
    <h2 class="form-title">Add Data</h2>
    <form [formGroup]="addDataForm" action="" class="data-form">
        <div class="form-group">
            <label for="location">Location</label>
            <input type="text" id="location" formControlName="location" required>
        </div>
        <div class="form-group">
            <label for="quantity">Quantity</label>
            <input type="number" id="quantity" formControlName="quantity" required>
        </div>
        <div class="form-group">
            <label for="species">Species</label>
            <select id="species" formControlName="species" required>
                <option value="" selected disabled>Select Species</option>
                <option value="Yellowfin Tuna">Yellowfin Tuna</option>
                <option value="Dorado">Dorado</option>
                <option value="Sailfish">Sailfish</option>
                <option value="Striped Marlin">Striped Marlin</option>
                <option value="Blue Marlin">Blue Marlin</option>
                <option value="Black Marlin">Black Marlin</option>
                <option value="Wahoo">Wahoo</option>
                <option value="Yellowtail">Yellowtail</option>
                <option value="Roosterfish">Roosterfish</option>
                <option value="Pargo">Pargo</option>
                <option value="Cabrilla">Cabrilla</option>
                <option value="Triggerfish">Triggerfish</option>
                <option value="Hauchinango">Hauchinango</option>
                <option value="Others">Others</option>
            </select>
            <!-- <input type="text" id="species" formControlName="species" required> -->
        </div>
        <div class="form-group">
            <label for="bait">Bait</label>
            <input type="text" id="bait" formControlName="bait" required>
        </div>
        <button type="submit" class="submit-button" (click)="addData()">Submit</button>
    </form>
</div>
