body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f9fc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    width: 400px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: left;
    margin: auto;
}

.form-title {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
    color: #555;
}

input[type="text"], 
input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus, 
input[type="number"]:focus {
    border-color: #6a67ce;
    outline: none;
}

.submit-button {
    width: 100%;
    padding: 10px;
    background-color: #6a67ce;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: #5a57b3;
}
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
    background-color: white;
    /* appearance: none;  */
    /* -webkit-appearance: none;  */
    /* -moz-appearance: none; */
}

select:focus {
    border-color: #6a67ce;
    outline: none;
}


.form-group select {
    background: white url('data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTYgMTAiIHdpZHRoPSIxNiIgaGVpZ2h0PSIxMCIgdmlld0JveD0iMCAwIDE2IDEwIiBmaWxsPSIjMDAwMDAwIj48cGF0aCBkPSJNMiAxTDggNkwxNCAxSCIvPjwvc3ZnPg==') no-repeat right 10px center;
    background-size: 12px;
}


select {
    color: #555;
}

select option {
    color: #333;
}
option{
    overflow: scroll;
    height: 100px;
}