

.container-fluid{
  background: #F0F0F5;
}
.homeContainer {
    background: linear-gradient(
      47deg,
      rgba(107, 115, 245, 255) 89%,
      rgb(249 249 249) 100%
    );
    height: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding: 5rem 0rem 0rem 0rem;
    color: white;
  }
  .button-section1 {
    padding-bottom: 1rem;
    .icon-button {
      border: none;
      border-radius: 50%;
      cursor: pointer;
      width: 30px;
      height: 30px;
    
  
      img {
        width: 15px;
        padding-bottom: 4px;
      }
    }
  }
  .somekedogg {
    span {
      font-size: 13px;
      font-weight: 500;
    }
  }
  .reelScoop {
    padding-bottom: 1rem;
    span {
      font-size: 36px;
      font-weight: 900;
    }
  }
  .dateSep {
    span {
      font-size: 20px;
      font-weight: 700;
    }
  }
  .fishReport {
    padding-top: 0.5rem;
    button {
      border: none;
      padding: 7px 49px 7px 16px;
      font-size: 13px;
      font-weight: 500;
      background: #4141c8;
      color: white;
      border-radius: 4px;
      cursor: pointer;
    }
  }

  .reports{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    margin-top: 2rem;
    margin-bottom: -2rem;
    gap:4%
}
.chart{
  display: flex;
    background: white;
    color: black;
    /* padding: 1rem 2rem; */
    width: 12rem;
    padding: 10px 0px 10px 30px;
    /* box-shadow: 0px 0px 7px 0px; */
    border-radius: 10px;
    margin-top: 5px;
    img{
      margin: 9px 5px 0px -10px;
      /* border: 1px solid; */
      /* border-radius: 50%; */
      width: 30px;
      padding: 2px;
      filter: invert(79%) sepia(0%) saturate(1620%) hue-rotate(236deg) brightness(84%) contrast(96%);
    }
}
.examan{
    padding-top: 5px;
    color: #a9a7a7;
    font-size: 11px;
    font-weight: 500;
}
.chartReport{
    font-weight: 700;
}

 /* .totals{
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 1rem;
 } */
 .totals {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 1rem;
}

.totals::before {
  content: '';
  flex-grow: 1; /* Line takes available space */
  height: 2px; /* Thickness of the line */
  background-color: #2D2D8C; /* Line color (adjust as needed) */
  margin-right: 10px; /* Space between the line and text */
  margin-top: 10px;
  margin-left: 7px;
}

.speciesTitle{
  display: flex;
}
.species{
  background: #2D2D8C;
  width: 180px;
  text-align: center;
  padding-top: 9px;
  color: white;
  font-size: 24px;
  font-weight: 600;
  height: 150px;
  border-radius: 0px 0px 100px 100px;
 
  img{
    width: 100px;
  }
  
}
.speciesContainer{
  margin-top: 4rem;
}
.speciesData{
width: 100%;
  padding-left: 1rem;
}


.fishTitles{
  width: 20%;
  text-align: center;
}
.fishTitleContent{
  background: #4141C8;
  padding: 10px;
  border-radius: 8px;
}
.fishTitleContentBox{
  background: #E1E1FA;
  color: #5D5DD1;
  font-weight: 500;
  padding: 0px 0px 0px 5px;
    border-radius: 11px;
    overflow: scroll;      /* Still allow scrolling */
    scrollbar-width: none;
}
.fishamounts{
  overflow: scroll;      /* Still allow scrolling */
    scrollbar-width: none;
  padding-top: 7px;
  font-weight: 700;

}
.weekDays{
  display: flex;
  background: #737DF5;
  margin-top: 1rem;
  padding: 15px 66px 14px 25px;
  justify-content: space-between;
  color: white;
  font-weight: 700;
  border-radius: 6px 0px 0px 6px;

  width: 90%;
}
.perDayWeek{
  margin-top: 1rem;
  display: flex;
  color: white;
  font-weight: 600;
  border-radius: 6px;
  margin-bottom: 1rem;
}
#Hauchinango{
  height: 22px;
}
.fishList {
  display: flex;
  padding: 15px 8px 14px 24px;
  justify-content: space-around;
  color: #3C3C7D;
  font-weight: 700;
  border-radius: 6px 0px 0px 6px;
  width: 90%;
  background: white;
  font-size: 18px;
  font-weight: 700;
}

.perdayfisheslist {
  width: 63px;
}

.totalWeek{
  background: #3C3C7D;
  padding: 5px 15px;
  margin-top: 1rem;
  color: white;
  font-weight: 600;
  border-radius: 0px 9px 9px 0px;
}
.totalDays{
  width: 10%;
  /* width: 83px; */
  /* border-radius: 9px; */
    text-align: center;
  background: #E1E1F0;
  /* border-radius: 3px; */
  /* padding: 20px 0px 0px 0px;   */
  color: #3C3C7D;
  font-weight: 800;
  padding: 5px 15px;
  border-radius: 0px 9px 9px 0px;
  
 

}
.countfish{
  display: flex;
  height: -webkit-fill-available;
  /* margin: auto; */
  align-items: center;
  justify-content: center;
}
.fishImgName{
  display: flex;
    flex-direction: column;
  background: #E1E1F0;
  border-radius: 3px;
  padding: 5px 15px;
  color: #3C3C7D;
  font-weight: 600;
  font-size: 20px;
  min-width: 170px;
  img{
    width: 48px;
    margin: auto;
  }
  p{
    margin: auto;
  }
}

.addsByCompany
{
  display: flex;
  margin-bottom: .5rem;
  border: none;
  border-radius: 10px;
  padding: 1rem 0rem 1rem 1rem;
  background: white;
  font-size: 17px;
  font-weight: 500;
  img{
    width: 50px;
  }
  span{
    margin: auto;
  }
  }

  @media screen and (max-width:860px) {
    .fishImgName{
      min-width: 115px;
      font-size: 13px;
      font-weight: 600;
      img{
        width: 48px;
        margin-left: 16px ;
        /* padding-left: 2px; */
      }
      p{
        margin: auto;
        /* padding-left: 2px; */
  
      }
    }
  }
  @media screen and (max-width:992px) {
    .fishImgName{
      min-width: 145px;
      font-size: 13px;
      font-weight: 600;
      img{
        width: 48px;
        margin: auto;
        /* padding-left: 2px; */
      }
      p{
        margin: auto;
        /* padding-left: 2px; */
  
      }
    }
  }
  @media screen and (max-width:860px) {
    .fishImgName{
      min-width: 115px;
      font-size: 13px;
      font-weight: 600;
      img{
        width: 48px;
        margin-left: 16px ;
        /* padding-left: 2px; */
      }
      p{
        margin: auto;
        /* padding-left: 2px; */
  
      }
    }
  }
@media screen and (max-width:768px) {
  .perDayWeek{
    padding: 0px;
  }
  .fishImgName{
    min-width: 117px;
    font-size: 13px;
    font-weight: 600;
    img{
      width: 48px;
      margin-left: 16px;
      /* padding-left: 2px; */
    }
    p{
      margin: 0;
      padding-left: 2px;

    }
  }
  /* .fishList{
    padding: 18px 0px 0px 0px;

  } */
  /* .perdayfisheslist{
   
    display: flex;
    justify-content: center;
    justify-items: flex-start;
   
  } */
  

  .speciesTitle{
    display: block !important;;
  }
  .species{
    display: flex;
    background: #2D2D8C;
    width: 100%;
    text-align: center;
    padding-top: 3px;
    color: white;
    font-size: 24px;
    font-weight: 600;
    height: 50px;
    margin: 1rem 0rem;
    border-radius: 10px;
    padding-left: 1rem;
    img{
      width: 50px;
      margin-left: 1rem;
    }
  }
  .speciesData{
    padding: 0rem;
  }
  .somekedoggRightSide{
    margin-top: 1rem;
   
  }
  .totalDays{
    padding-top: 4%;
  }
 
}

select[formControlName="filter"] {
  padding: 10px 15px;
  /* border: 2px solid #6a67ce; */
  border-radius: 8px;
  font-size: 16px;
  /* background-color: #f9f9f9; */
  /* color: #333; */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 20 20"><polygon fill="%236a67ce" points="0,0 20,0 10,15"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
  cursor: pointer;
  transition: border-color 0.3s, box-shadow 0.3s;
}

/* select[formControlName="filter"]:hover { */
  /* border-color: #4c48a4; */
  /* box-shadow: 0 0 8px rgba(76, 72, 164, 0.3); */
/* } */

select[formControlName="filter"]:focus {
  outline: none;
  /* border-color: #4c48a4; */
  /* box-shadow: 0 0 8px rgba(76, 72, 164, 0.5); */
}

option {
  padding: 10px;
  background-color: #4141C8;
  color: white;
}
.table-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.select-and-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

select {
  margin-right: auto; 
  padding: 10px 25px;
  /* border: 0px solid #6a67ce; */
  font-size: 16px;
  background-color: #4141C8;
  color: white;
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 20 20"><polygon fill="%236a67ce" points="0,0 20,0 10,15"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
  cursor: pointer;
  transition: border-color 0.3s, box-shadow 0.3s;
  /* box-shadow: 0px 0px 7px 0px; */
  border-radius: 10px;
}

.button-container {
  margin-left: auto; 
}

.add-fish-btn {
  background-color: #4141C8; 
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, background-color 0.3s;
}

.add-fish-btn:hover {
  background-color: #3232a6; 
  transform: translateY(-2px);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15);
}

.add-fish-btn:active {
  transform: translateY(1px);
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1);
}
