<div class="container-fluid">
    <div class="row homeContainer">
        <div class="col-12 backToword"> 
            <button >
            <img src="assets/home/left-arrow-svgrepo-com.svg" alt="">
        </button>
    </div>
    <div class="col-12 somekedogg"><span>SMOKEDOGG</span></div>
    <div class="col-12 reelScoop"><span>The Reel Scoop</span></div>
    <div class="col-12 dateSep"><span>{{fromDate | date:'MMMM d,y' }}-{{toDate | date:'MMMM d,y'}}</span></div>
    <div class="col-12 fishReport"> 
        <!-- <button>Fish Report Archives</button> -->
        <select (change)="onDateRangeChange($event)">
            <option [value]="'thisWeek'" selected>This Week</option>
            <option [value]="'lastWeek'">Last Week</option>
            <option [value]="'twoWeeksAgo'">2 Weeks Ago</option>
            <option [value]="'threeWeeksAgo'">3 Weeks Ago</option>
          </select>
    </div>

    <div class="col-12 reports">
        <div class="chart">
            <div class="examan">EXAMAN</div>
            <div class="chartReport">Moon Chart</div>
        </div>
        <div class="chart">
            <div class="examan">FORO DE DISCUSION</div>
            <div class="chartReport">Water Satellite</div>
        </div>
        <div class="chart">
            <div class="examan">SUBIR ARCHIVO</div>
            <div class="chartReport">Fishing Sports</div>
        </div>
        <div class="chart">
            <div class="examan">SUBIR ARCHIVO</div>
            <div class="chartReport">Report Archives</div>
        </div>
    </div>
    </div>

<div class="row speciesContainer  ">

    <div class="col-md-8  col-lg-9">
     

        <!-- <div class="d-flex"> -->
        
           <!-- </div> -->


           <div class="speciesTitle">
            <div class="species ">SPECIES</div>

            <div class="speciesData ">
               <div class="fishTitleContent" >
                 <div class="d-flex fishTitleContentBox" > 
                    <span class="fishTitles">TOTAL FISH</span> 
                    <span class="fishTitles">CHARTERS</span> 
                    <span class="fishTitles">ANGLER</span> 
                    <span class="fishTitles">FISH/CHARTER</span> 
                    <span class="fishTitles">FISH/ANGLER</span> 
                </div>
               <div class="d-flex fishamounts" >
                <span class="fishTitles text-white" >{{totalFishCount}}</span>
                <span class="fishTitles text-white" >{{charterFishCount}}</span>
                <span class="fishTitles text-white" >{{anglerFishCount}}</span>
                <span class="fishTitles text-white" >{{fish_Charter}}</span>
                <span class="fishTitles text-white" >{{fish_Angler}}</span>
               
            </div>
            </div>
               <div class="d-flex weekDays" >
                <span  *ngFor="let week of weeks">{{week}}</span> 
                <span class="totalWeek">WEEK <br> TOTAL</span></div>
            </div>
           </div>
 
          
            <div class="d-flex weekDays" >
                <span class="fishImgName">fish-img <br> TUNA</span>
                <span  *ngFor="let perDaysFishes of totalPerDayFishes">{{perDaysFishes}}</span> 
                <span class="totalDays">{{fullWeekCount}}</span>
            </div>  
    </div>
    
    <div class="col-md-4 col-lg-3 somekedoggRightSide">
        <div class=" addsByCompany"><span>SMOKEDOGG SAYS</span></div>
        <div class=" addsByCompany"><span>TRUSTED SOURCES</span></div>
        <div class=" addsByCompany"><span>PUBLIC FORUM</span></div>
        <div class=" addsByCompany"><span>Photo Gallery</span></div>

    </div>
</div>
</div>
